body {
    margin: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} 

.container {
    padding: 25px;
}

.icon {
    margin-bottom: 10px;
    text-align: right;
}

.material-icons {
    cursor: pointer;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 5px 10px grey;
    box-sizing: border-box;
    margin-right: 5%;
    padding: 15px 10px;
    text-align: center;
    width: 30%;
}

.card:nth-child(3n+3) { 
    margin-right: 0;
}

.card:nth-child(n+4) {
    margin-top: 25px;
}

.card-name, .item-name {
    font-size: 20px;
    font-weight: 600;
}

.card-color, .item-color {
    color: grey;
    font-size: 12px;
}

.card-img {
    max-width: 100%;
}

.card-info {
    display: flex;
    justify-content: space-around;
    color: red;
}

.button {
    color: red;
    font-family: inherit;
    background-color: initial;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    padding: 7px;
}

.item {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0 15px;
}

.item-img {
    height: 100px;
    max-width: 100%;
}

.item-price {
    color: red;
}
